@{
    ViewData["Title"] = "Index";
}

<br/>
<br />
<br />
<form method="post" asp-action="PostImage" asp-controller="Impressionist" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload" />
</form>
<br />
<br />
@if (ViewData["ResultImage"] != null)
{
    <img style="width:100%; max-width:400px;" src="/@ViewData["OriginalImage"]" />
    <img style="width:100%; max-width:400px;" src="/@ViewData["ResultImage"]" />
}
